<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<style>
	* {
		box-sizing: border-box;
	}

	#myInput {
		background-image: url('/css/searchicon.png');
		background-position: 10px 10px;
		background-repeat: no-repeat;
		width: 100%;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
		border: 1px solid #ddd;
		margin-bottom: 12px;
	}

	#myTable {
		border-collapse: collapse;
		width: 100%;
		border: 1px solid #ddd;
		font-size: 18px;
	}

	#myTable th,
	#myTable td {
		text-align: left;
		padding: 12px;
	}

	#myTable tr {
		border-bottom: 1px solid #ddd;
	}

	#myTable tr.header,
	#myTable tr:hover {
		background-color: #f1f1f1;
	}
</style>
</head>



<body>

	<style>
		.button {
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			cursor: pointer;
		}

		.businessState {
			background-color: white;
			color: black;
			border: 2px solid #4CAF50;
		}
	</style>


	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<table id="myTable">
		<tr class="header">
			<th style="width:60%;">State</th>
			<th style="width:40%;">Check</th>
		</tr>
		<tr>
			<td>AB</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateAB}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<tr>
			<td>AZ</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateAZ}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<tr>
			<td>CA</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateCA}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<tr>
			<td>DE</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateDE}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<tr>
			<td>FL</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateFL}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<td>ID</td>
		<td>
			<li>
				<form class="form-inline" th:action="@{/businessStateID}" method="post">
					<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
						value="Check">
				</form>
			</li>
		</td>
		</tr>
		<tr>
			<td>IL</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateIL}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

		<tr>
			<td>IN</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateIN}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

		<tr>
			<td>LA</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateLA}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>
		<tr>
			<td>MO</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateMO}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

		<tr>
			<td>NJ</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateNJ}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

		<tr>
			<td>NV</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateNV}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

		<tr>
			<td>PA</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStatePA}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>


		<tr>
			<td>TN</td>
			<td>
				<li>
					<form class="form-inline" th:action="@{/businessStateTN}" method="post">
						<input type="hidden" id="nid" name="nid"> <input type="submit" class="button businessState"
							value="Check">
					</form>
				</li>
			</td>
		</tr>

	</table>
	<script>

		var table = document.getElementById("myTable");
		const arr = [];
		for (var i = 1; i < table.rows.length; i++) {
			arr.push(table.rows[i].cells[0].innerHTML);
		}
		
		document.getElementById("myTable");
		console.log(arr);

	</script>
	<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>


	<script>
		var date = new Date();
		var year = date.getFullYear();
		document.getElementById("today").innerHTML = "&copy; FRA-UAS SocialApp, " + year;
	</script>
</body>

</html>