<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

	<!--Chart.js JS CDN-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<style>
		.chartCard {
			width: 50vw;
			height: calc(50vh-20px);
			background: rgb(255, 0, 0);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.chartBox {
			width: 50vw;
			padding: 15px;
			border-radius: 15px;
			border: solid 3px rgb(255, 0, 0);
			background: white;
		}
	</style>

</head>

<body>
	<section class="header">

		<h1>
			<img src="images/logo.jpg" width="80" height="80">CityGude
		</h1>

		<nav>



			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light bg-custom">

					<div class="collapse navbar-collapse " id="thenavbarDefault">
						<ul class="navbar-nav ml-auto">
							<li>
								<form th:action="@{/users}" method="get">
									<input type="submit" class="btn btn-outline-primary" th:value="Ready">
								</form>
							</li>
							<li>
								<form class="form-inline" th:action="@{/categories}" method="get">
									<input type="hidden" id="nid" name="nid"> <input type="submit"
										class="btn btn-outline-primary" value="Categories">
								</form>
							</li>
							<li>
								<form th:action="@{/weekdays}" method="get">
									<input type="submit" class="btn btn-outline-primary" value="Weekdays">
								</form>
							</li>
							<li>
								<form th:action="@{/map}" method="get">
									<input type="submit" class="btn btn-outline-primary" value="Map">
								</form>
							</li>


							<li>
								<form th:action="@{/logout}" method="post">
									<input type="submit" class="btn btn-outline-success" value="Sign out">
								</form>
							</li>
						</ul>
					</div>
				</nav>
			</div>

		</nav>

	</section>

	<div>
		<table id="myTableState" class="table table-striped table-bordered" hidden>
			<thead class="thead-dark">
				<tr>
					<th>State</th>
					<th>Amount</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="business: ${listTestState}">
					<td th:text="${business.state}">State</td>
					<td th:text="${business.amount}">Amount</td>

				</tr>
			</tbody>
		</table>
	</div>
	</div>



	<script>

		var table = document.getElementById("myTableState");
		var listTestAmount = [];
		var listTestState = [];
		for (var i = 1; i < table.rows.length; i++) {
			listTestAmount.push(parseInt(table.rows[i].cells[1].innerHTML));
			listTestState.push(table.rows[i].cells[0].innerHTML);
		}

		document.getElementById("myTableState");
		console.log(listTestAmount);
		console.log(listTestState);


	</script>



	<div class="chartCard">
		<div class="chartBox">
			<canvas id="testMyChart1"></canvas>
			<canvas id="testMyChartCategories"></canvas>


		</div>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<div>
		<table id="myTableCategory" class="table table-striped table-bordered" hidden>
			<thead class="thead-dark">
				<th>Category</th>
			</thead>
			<tbody>

				<tr th:each="business: ${finalListAll}">
					<td th:text="${business}">Time</td>
				</tr>
				<tr th:each="business: ${finalListAB}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListAZ}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListCA}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListDE}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListFL}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListID}">
					<td th:text="${business}">Value</td>
				</tr>

				<tr th:each="business: ${finalListIL}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListIN}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListLA}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListMO}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListNJ}">
					<td th:text="${business}">Value</td>
				</tr>

				<tr th:each="business: ${finalListNV}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListPA}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListTN}">
					<td th:text="${business}">Value</td>
				</tr>



				<tr th:each="business: ${finalListFood}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListCoffeeTea}">
					<td th:text="${business}">Value</td>
				</tr>
				<tr th:each="business: ${finalListBakery}">
					<td th:text="${business}">Value</td>
				</tr>

				<!-- 7 -->

			</tbody>
		</table>
	</div>
	<script>

		var table = document.getElementById("myTableCategory");
		var finalListAll = [];
		var finalListAB = [];
		var finalListAZ = [];
		var finalListCA = [];
		var finalListDE = [];
		var finalListFL = [];
		var finalListID = [];
		var finalListIL = [];
		var finalListIN = [];
		var finalListLA = [];
		var finalListMO = [];
		var finalListNJ = [];
		var finalListNV = [];
		var finalListPA = [];
		var finalListTN = [];

		var finalListFood = [];
		var finalListCoffeeTea = [];
		var finalListBakery = [];
		// 7...





		for (var i = 1; i <= 3; i++) {
			finalListAll.push(parseInt(table.rows[i].cells[0].innerHTML));
		}
		for (var i = 4; i <= 6; i++) {
			finalListAB.push(parseInt(table.rows[i].cells[0].innerHTML));
		}
		for (var i = 7; i <= 9; i++) {
			finalListAZ.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 10; i <= 12; i++) {
			finalListCA.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 13; i <= 15; i++) {
			finalListDE.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 16; i <= 18; i++) {
			finalListFL.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 19; i <= 21; i++) {
			finalListID.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 22; i <= 24; i++) {
			finalListIL.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 25; i <= 27; i++) {
			finalListIN.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 28; i <= 30; i++) {
			finalListLA.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 31; i <= 33; i++) {
			finalListMO.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 34; i <= 36; i++) {
			finalListNJ.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 37; i <= 39; i++) {
			finalListNV.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 40; i <= 42; i++) {
			finalListPA.push(parseInt(table.rows[i].cells[0].innerHTML));
		}

		for (var i = 43; i <= 45; i++) {
			finalListTN.push(parseInt(table.rows[i].cells[0].innerHTML));
		}




		for (var i = 46; i <= 59; i++) {
			finalListFood.push(parseInt(table.rows[i].cells[0].innerHTML));
		}
		for (var i = 60; i <= 73; i++) {
			finalListCoffeeTea.push(parseInt(table.rows[i].cells[0].innerHTML));
		}
		for (var i = 74; i <= 87; i++) {
			finalListBakery.push(parseInt(table.rows[i].cells[0].innerHTML));
		}


		document.getElementById("myTableCategory");
		console.log(finalListAll);
		console.log(finalListAB);
		console.log(finalListAZ);
		console.log(finalListDE);
		console.log(finalListFL);
		console.log(finalListID);
		console.log(finalListIL);
		console.log(finalListIN);
		console.log(finalListLA);
		console.log(finalListMO);
		console.log(finalListNJ);
		console.log(finalListNV);
		console.log(finalListPA);
		console.log(finalListTN);

		console.log(finalListFood);
		console.log(finalListCoffeeTea);
		console.log(finalListBakery);
		// 7...






	</script>

	<script>

		var testMyChart1 = new Chart(
			document.getElementById('testMyChart1'), {
			type: 'bar',
			data: {
				labels: ['AB', 'AZ', 'CA', 'DE', 'FL', 'ID', 'IL', 'IN', 'LA', 'MO', 'NJ', 'NV', 'PA', 'TN'],
				datasets: [{
					label: 'State',
					data: [
						{
							x: 'AB', y: listTestAmount[0], category: finalListAB
						},
						{
							x: 'AZ', y: listTestAmount[1], category: finalListAZ
						},
						{
							x: 'CA', y: listTestAmount[2], category: finalListCA
						},
						{
							x: 'DE', y: listTestAmount[3], category: finalListDE
						},
						{
							x: 'FL', y: listTestAmount[4], category: finalListFL
						},
						{
							x: 'ID', y: listTestAmount[5], category: finalListID
						},
						{
							x: 'IL', y: listTestAmount[6], category: finalListIL
						},
						{
							x: 'IN', y: listTestAmount[7], category: finalListIN
						},
						{
							x: 'LA', y: listTestAmount[8], category: finalListLA
						},
						{
							x: 'MO', y: listTestAmount[9], category: finalListMO
						},
						{
							x: 'NJ', y: listTestAmount[10], category: finalListNJ
						},
						{
							x: 'NV', y: listTestAmount[11], category: finalListNV
						},
						{
							x: 'PA', y: listTestAmount[12], category: finalListPA
						},
						{
							x: 'TN', y: listTestAmount[13], category: finalListTN
						},
					],
					backgroundColor: ['rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)',
						'rgb(255, 26, 104, 0.2)',
						'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)',
						'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)'],
					borderColor: ['rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)',
						'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)',
						'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)',
						'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)'],

					borderWidth: 1,
					options: {
						scales: {
							y: {
								beginAtZero: true
							}
						}
					}
				}]

			}
		});


	</script>


	<script>




		var testMyChartCategory = new Chart(
			document.getElementById('testMyChartCategories'), {
			type: 'bar',
			data: {
				//
				labels: ["Coffee & Tea", "Food", "Bakeries"],

				datasets: [{
					label: 'Categories',
					data: [

						{x: 'Coffee & Tea', y: finalListAll[0], state: finalListCoffeeTea},
						{x: 'Food', y: finalListAll[1], state: finalListFood},
						{x: 'Bakeries', y: finalListAll[2], state: finalListBakery},


					],

					backgroundColor: ['rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)'],
					borderColor: ['rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)', 'rgba(255, 0, 0, 1)'],
					borderWidth: 1
				}]

			}
		});

		function clickHandler(click) {
			const color = ['rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)',
				'rgb(255, 26, 104, 0.2)',
				'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)',
				'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)'];
			testMyChart1.data.datasets[0].backgroundColor = color;
			const points = testMyChart1.getElementsAtEventForMode(click, 'nearest', {
				intersect: true
			}, true);

			if (points.length) {
				console.log(points[0].index)
				testMyChartCategory.data.datasets[0].data = points[0].element.$context.raw.category;
				testMyChartCategory.update();

			}

			if (points[0]) {
				testMyChart1.data.datasets[points[0].datasetIndex].backgroundColor[points[0].index] = "rgba(255, 0, 0, 1)";
			}

			testMyChart1.update();


		};

		document.getElementById('testMyChart1').onclick = clickHandler;


		function clickHandlerSecond(click) {
			const color = ['rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)', 'rgb(255, 26, 104, 0.2)'];
			testMyChartCategory.data.datasets[0].backgroundColor = color;
			const points = testMyChartCategory.getElementsAtEventForMode(click, 'nearest', {
				intersect: true
			}, true);

			if (points.length) {
				console.log(points[0].index)
				testMyChart1.data.datasets[0].data = points[0].element.$context.raw.state;
				testMyChart1.update();

			}

			if (points[0]) {
				testMyChartCategory.data.datasets[points[0].datasetIndex].backgroundColor[points[0].index] = "rgba(255, 0, 0, 1)";
			}

			testMyChartCategory.update();


		};

		document.getElementById('testMyChartCategories').onclick = clickHandlerSecond;


	</script>


</body>

</html>