<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
</head>

<body>

	<div class="container">
		<table class="table table-hover table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th scope="col">business_id</th>
					<th scope="col">name</th>
					<th scope="col">friday</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="business : ${listTest}">
					<td th:text="${business.business_id}">empty</td>
					<td th:text="${business.name}">empty</td>
					<td th:text="${business.friday}">empty</td>

				</tr>
			</tbody>
		</table>
	</div>



	<script>
		var date = new Date();
		var year = date.getFullYear();
		document.getElementById("today").innerHTML = "&copy; FRA-UAS SocialApp, " + year;
	</script>
</body>

</html>